/* General styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* Menu styles */
.menu {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Login form styles */
.login-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form-container {
  position: relative;
  background-color: #fff;
  margin: 25% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #777;
}

/* Menu item styles */
.menu-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  overflow: hidden; /* Ensures images don't overflow their containers */
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  max-width: 100%; /* Ensures images don't exceed their containers */
  height: auto; /* Maintains aspect ratio */
  border-radius: 10px;
  margin-bottom: 10px;
}

.menu-item-details h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.menu-item-details p {
  margin: 5px 0;
  color: #777;
}

.menu-item-details button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item-details button:hover {
  background-color: #0056b3;
}

/* Order styles */
.order {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order h2 {
  margin-top: 0;
  color: #333;
}

.order ul {
  padding-left: 0;
}

.order li {
  margin-bottom: 10px;
  color: #777;
}

.order button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order button:hover {
  background-color: #218838;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .form-container {
    width: 80%;
  }
}
